/**/env
__pycache__
.DS_Store
.idea/
jenkins.war
venv
../TESTING_DOCKER_JENKINS/chromedriver
config
tests/E2E/drivers
.pytest_cache
tests/E2E/drivers/geckodriver
tests/E2E/drivers/geckodriver.log
tests/E2E/drivers/selenium-server-4.2.2.jar
main.py
